<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Tracker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="titlelogo.svg" type="image/x-icon">
</head>
<body>
    <header>
        <img src="images/titlelogo.svg" alt="Logo">
        <a href="/" id="navrepo">Repositories</a>
        <a id="navnewrepo" href="/new">New</a>
    </header>
    <aside>
        <span id="repotag">Repositories</span>
        <a id="newrepo">New</a>
        <div id="asiderepo">
            <% for(var i=0; i<arr.length; i++){%>
                <div id="content">
                    <%=arr[i]%>

                </div>
                

            <%}%>
        </div>
    </aside>
    <main>
        <span id="allactivity">All Activity</span>
        <div id="allrepo">
            
        </div>
    </main>
</body>
</html>