<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="repository.css">
    <link rel="shortcut icon" href="titlelogo.svg" type="image/x-icon">
    <title>Respository</title>
</head>
<body>
    <h1>Repository Name</h1>
    <div id="allrepo">
        <% for(var i=0; i<arr.length; i++){%>
            <div id="profile"><%=arr[i].author[0]%></div><span id="mainauthor"><%=arr[i].author+" Created A Repository"+" "+arr[i].author+"/"+arr[i].name%></span>
            <div id="maincontent">
                <span id="mainrepo"><%=arr[i].author.replace(/\s/g, "")+"/"+arr[i].name%></span>
                <p>Updated Yesterday</p>
                <div id="view"><i class="far fa-eye"> <span id="viewtext">View</span></i></div>
            </div>
            <div id="line"></div>
        <%}%>
    </div>
</body>
</html>